@page "{restaurantId}"
@model NetCore.Pages.Restaurants.DeleteModel
@{ 
    ViewData["Title"] = "Delete";
}

    <h2>Delete!</h2>
    <div class="alert alert-danger">
        Are you sure you want to delete @Model.Restaurant.Name?
    </div>
    <form  method="post">
        <button class="btn btn-danger" type="submit">Yes</button>
        <a class="btn btn-primary" asp-page="./List">No</a>
    </form>

